*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* the navigation bar */
nav{
    min-height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* links in the navigation bar */
.nav-links{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 50%;
    color: white;
    size: 14px;
}


/* Sets the background to zilker, black background in case the image is unavalible */
body{
    background-image: url("zilker-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    text-align: center;
}

.logo{
    letter-spacing: 3px;
    font-family: 'Raleway', sans-serif;
    color: rgb(139, 113, 201);
    padding-top: 10vh;
}

.logo h1{
    font-size: 50px;
}

.logo p2{
    font-size: 22px;
    color: rgb(139, 113, 201);
}

.logo p3{
    color: white;
    font-size: 22px;
}

.socials li{
    list-style: none;
    margin: 10px 30px;
    display: inline-flex;
    font-size: 20px;
    justify-content: space-around;
    color: white;
    padding-block-start: 20px;
}

.socials li a:hover{
    color:white;
}


@media only screen and (max-width: 768px){
    .nav-links{
        width: 60%;
    }

    body{
        background-size: cover;
    }
}

@media only screen and (max-width: 1024px){
    .nav-links{
        width: 60%;
    }
}