*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #6699cc;
    font-family: 'Raleway', sans-serif;
}

.logo{
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 20px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-links li{
    list-style: none;
}

.nav-links li a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    display: block;
}
.nav-links li:hover{
    background-color: "#F0F8FF";
}
.bridge div{
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 5px;
}

.bridge{
    display: none;
    cursor: pointer;
}

/* handles support for the touch bar's screen minimization */
@media screen and (max-width: 1024px){
    .nav-links{
        width: 60%;
    }
}

/* handles mobile support */
@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background: #6699cc;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
    }
    .nav-links li{
        opacity: 0;
    }

    .bridge{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}